.jumbotron{
  @apply w-full h-fit flex flex-col justify-center items-center gap-5 pt-44 max-md:pt-32 bg-[url('/assets/images/hero-jumbotron.svg')] bg-cover px-52 pb-24 max-md:px-2 max-md:pb-6;
}

.jumbotron-title{
  font-family: "Alegreya Bold";
  @apply w-full h-fit flex justify-center items-center text-[#1B4028] text-[96px] max-md:text-[36px] text-center leading-[97px] max-md:leading-[37px];
}

.jumbotron-text{
  font-family: "Alegreya";
  @apply w-full text-center h-fit flex justify-center items-center text-[#212529] text-[24px] max-md:text-[16px] max-md:leading-[18px];
}

.btn{
  font-family: "Alegreya";
  @apply w-fit h-fit bg-[#1A4028] text-[#FAFAFA] text-[19px] max-md:text-[14px] flex justify-center items-center p-5 max-md:p-3 rounded-[4px];
}